.ImageModal {
    position: fixed;
    top: 10%;
    right: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9); /* прозрачный белый фон */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    z-index: 1;
  }
  
  .ImageModal img {
    max-width: 100%;
    max-height: calc(100% - 30px); /* высота модального окна минус высота кнопки закрытия */
    border-radius: 5px;
  }
  
  .ImageModal button {
    position: absolute;
    top: -20px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
  }